@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --font-dancing: 'Dancing Script', cursive;
  --font-pt-sans: 'PT Sans', sans-serif;
}